<div id="page-top">
    <div id="wrapper">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <app-navbar></app-navbar>
                <div class="container-fluid" style="margin-bottom: 10%;">
                    <h3 class="text-dark mb-1">Stat</h3>
                    <div class="row mt-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="card shadow">
                                <div class="card-header" style="text-align: center;">
                                    <h5>Temps de réparation moyen pour une voiture</h5>
                                </div>
                                <div class="card-body" style="text-align: center;">
                                    <h4> {{tempsMoyenne | number: '1.0-0'}} jours </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-header" style="text-align: center;">
                                    <h5>Chiffre d’affaires par jour, par mois</h5>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <canvasjs-chart [options]="chartOptions"
                                            (chartInstance)="getChartInstance($event)"
                                            [styles]="{width: '100%', height: '410px'}"></canvasjs-chart>
                                        <button [ngClass]="'backButton'" *ngIf="this.isButtonVisible"
                                            (click)="handleClick($event)">Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 2%;">
                            <div class="card shadow">
                                <div class="card-header" style="text-align: center;">
                                    <h5>Bénéfice par mois en entrant les dépenses</h5>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="beneficeForm" (ngSubmit)="tesFunction()">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="Salaire">Salaire: </label>
                                                <input type="number" ondrop="return false;" onpaste="return false;"
                                                    class="form-control" [(ngModel)]="karama" formControlName="karama"
                                                    name="karama"
                                                    onkeypress="return event.charCode>=48 && event.charCode<=57"
                                                    min="0">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="Salaire">Loyer: </label>
                                                <input type="number" ondrop="return false;" onpaste="return false;"
                                                    class="form-control" [(ngModel)]="loyer" formControlName="loyer"
                                                    name="loyer"
                                                    onkeypress="return event.charCode>=48 && event.charCode<=57"
                                                    min="0">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="Salaire">Autre dépense: </label>
                                                <input type="number" ondrop="return false;" onpaste="return false;"
                                                    class="form-control" [(ngModel)]="autreDepenseParMois" formControlName="autreDepenseParMois"
                                                    name="autreDepenseParMois"
                                                    onkeypress="return event.charCode>=48 && event.charCode<=57"
                                                    min="0">
                                            </div>
                                        </div>
                                        <button class="btn btn-primary">valider</button>
                                    </form>
                                    <canvasjs-chart [options]="chartOptionsPie"
                                        [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>