
<div id="page-top">
    <div id="wrapper">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <app-navbar></app-navbar>
                <div class="container-fluid" style="margin-bottom: 10%;">
                    <h3 class="text-dark mb-1">Stat</h3>
                    <div class="row mt-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="card shadow">
                                <div class="card-header" style="text-align: center;">
                                    <h5>Temps de réparation moyen pour une voiture</h5>
                                </div>
                                <div class="card-body" style="text-align: center;">
                                    <select name="" id="" aria-label="Default select example">
                                        <option value="">Choisir année</option>
                                        <option value="">2017</option>
                                        <option value="">2018</option>
                                        <option value="">2019</option>
                                        <option value="">2020</option>
                                        <option value="">2021</option>
                                        <option value="">2022</option>
                                        <option value="">2023</option>
                                    </select>
                                    <p> {{tempsMoyenne | number: '1.0-0'}} jours </p>
                                </div>
                            </div>                           
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="card shadow">
                                <div class="card-header" style="text-align: center;">
                                    <h5>Chiffre d’affaires par jour, par mois</h5>
                                </div>
                                <div class="card-body">
                                    <!-- <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart> -->
                                    <div>
                                        <canvasjs-chart [options]="chartOptions" (chartInstance)="getChartInstance($event)" [styles]="{width: '100%', height: '410px'}"></canvasjs-chart>
                                        <button [ngClass]="'backButton'" *ngIf="this.isButtonVisible" (click)="handleClick($event)">Back</button>
                                    </div>
                                </div>
                            </div>                                                      
                        </div>
                        <div class="col-md-6">
                            <div class="card shadow">
                                <div class="card-header" style="text-align: center;">
                                    <h5>Bénéfice par mois en entrant les dépenses</h5>
                                </div>
                                <div class="card-body">
                                    <div class="dropdown">
                                        <div style="margin-bottom: 5%;">
                                            <select name="" id="" aria-label="Default select example">
                                                <option value="">Choisir mois</option>
                                                <option value="">Janvier</option>
                                                <option value="">Fevrier</option>
                                                <option value="">Mars</option>
                                                <option value="">Avril</option>
                                                <option value="">Mai</option>
                                                <option value="">Juin</option>
                                                <option value="">Juillet</option>
                                                <option value="">Aout</option>
                                                <option value="">Septembre</option>
                                                <option value="">Octobre</option>
                                                <option value="">Novembre</option>
                                                <option value="">Décembre</option>
                                            </select>   
                                            <select name="" id="" aria-label="Default select example" style="margin-left: 2%;">
                                                <option value="">Choisir année</option>
                                                <option value="">2017</option>
                                                <option value="">2018</option>
                                                <option value="">2019</option>
                                                <option value="">2020</option>
                                                <option value="">2021</option>
                                                <option value="">2022</option>
                                                <option value="">2023</option>
                                            </select>  
                                        </div>
                                        <canvasjs-chart [options]="chartOptionsPie" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                                    </div>                     
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>