<div id="page-top">
    <div id="wrapper">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <app-navbar></app-navbar>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Liste dans l'atelier</h3>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Propriétaire</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="dataResultUser.length > 0 && !loaderView">
                                                <tr *ngFor="let d of dataResultUser; let i = index">
                                                    <td class="text-center">{{i + 1}}</td>
                                                    <td>{{d.nom}}</td>
                                                    <td *ngFor="let v of d.voiture; let j = index">
                                                        <div *ngIf="v.estDansLeGarage == false">
                                                            <div class="card shadow" style="width: 18rem;">
                                                                <div class="card-header">
                                                                    {{j+1}} - {{v.marque}} {{v.modele}}
                                                                  </div>
                                                                <div class="card-body">
                                                                    <ul>
                                                                        <li *ngFor="let m of v.materiel; let k = index">. {{m.designationMateriel}} - {{m.prixReparation}} Ar</li>                                                                
                                                                        <li>TOTAL: {{getTotal(v.materiel)}}</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <button class="btn btn-info btn-block btn-sm" (click)="addToGarage(d, v._id)">
                                                                        Ajouter
                                                                        dans le garage
                                                                    </button>
                                                                    <button class="btn btn-danger btn-block btn-sm"
                                                                        (click)="initForm(d)" data-toggle="modal"
                                                                        data-target="#deleteModal">
                                                                        Supprimer
                                                                    </button>
                                                                </div>
                                                            </div>
                                                    </div>               
                                                    </td>                                                                    
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="dataResultUser.length == 0 && !loaderView">
                                                <tr>
                                                    <td colspan="4" class="text-center">Aucune voiture dans l'atelier</td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="loaderView">
                                                <tr>
                                                    <td colspan="4" class="text-center"><i
                                                            class="fa fa-spinner fa-spin"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>