<div class="d-flex justify-content-center align-items-center align-self-center">
    <div class="contents">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="form-block mx-auto" style="margin-top: 20px; margin-bottom: 20px;">
                        <div class="text-center mb-5">
                            <img src="assets/img/autog.jpg" alt="">
                        </div>
                        <form [formGroup]="formGroup" (ngSubmit)="login()">
                            <div class="form-group">
                                <label class="form-control-label"><i class="fa fa-user" aria-hidden="true"></i>
                                    EMAIL</label>
                                <input type="text" [(ngModel)]="email" name="email" formControlName="email"
                                    class="form-control">
                            </div>

                            <div class="form-group">
                                <label class="form-control-label"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    PASSWORD</label>
                                <input type="password" class="form-control" [(ngModel)]="password" name="password"
                                    formControlName="password" i>
                            </div>


                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <input type="submit" value="Log In" class="btn btn-block py-2 btn-primary">
                                </div>
                            </div>


                            <span class="or" style="text-align: center; margin-left: 50%;">or</span>

                        </form>
                        <div class="reseau" *ngIf="!isAdmin">
                            <div class="facebook">
                                <a href="" class="btn btn-block btn-info btn-rounded" data-mdb-ripple-color="dark"
                                    (click)="signUpClient()">
                                    <span class="icon-facebook mr-3"></span>Inscription
                                </a>
                            </div>
                        </div>

                        <div id="kc-registration">
                            <span style="text-align: center; margin-left: 35%;"><input type="checkbox"
                                    aria-label="Checkbox for following text input" (click)="changeIsAdmin()">Is Admin ?
                                <a tabindex="6">Atelier/Financier</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

























<!-- 
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <form class="login100-form validate-form" method="post" [formGroup]="formGroup" (ngSubmit)="login()">
                <span class="login100-form-title p-b-26">
                    Login
                </span>
                <span class="login100-form-title p-b-48" style="margin-top: 5%;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor"
                        class="bi bi-bag-dash" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                    </svg>
                </span>

                <div class="bodyLogin">
                    <div class="wrap-input100 validate-input">
                        <small>Email:</small>
                        <input class="input100" type="email" [(ngModel)]="email" name="email" formControlName="email">
                        <span class="focus-input100" placeholder="Email"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <small>Mot de pass:</small>
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" [(ngModel)]="password" name="password"
                            formControlName="password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Login
                            </button>

                        </div>
                    </div>

                    <a (click)="changeIsAdmin()">Is admin?</a>

                    <div class="container-login100-form-btn" *ngIf="!isAdmin">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="button" (click)="signUp()" class="login100-form-btn">
                                Inscription
                            </button>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->