.contents{
    margin-top: 5%;
    margin-bottom: auto;
    border-radius: 2%;
    width: 40%;
    background: rgb(231,228,228);
    background: -moz-linear-gradient(86deg, rgba(231,228,228,1) 0%, rgba(238,238,238,1) 100%);
    background: -webkit-linear-gradient(86deg, rgba(231,228,228,1) 0%, rgba(238,238,238,1) 100%);
    background: linear-gradient(86deg, rgba(231,228,228,1) 0%, rgba(238,238,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7e4e4",endColorstr="#eeeeee",GradientType=1); 
}

.kc-registration{
    text-align: center;
    margin-left: 10%;
}