<div id="page-top">
    <div id="wrapper">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <app-navbar></app-navbar>
                <div class="container-fluid">                    
                    <div class="row mt-3">
                            
                        <div class="col-md-8">
                            <h3 class="text-dark mb-1">Liste voiture à réparé</h3>
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th colspan="2" class="text-center"><h5>Voiture(Deplacer vers liste terminer)</h5></th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="dataResultUser.length > 0 && !loaderView">     
                                                <tr *ngFor="let d of dataResultUser; let i = index">
                                                    <td *ngFor="let v of d.voiture; let j = index">
                                                        <ul *ngIf="v.estDansLeGarage == true && v.estTerminer == false" draggable [dragData]="v" class="list-group-item" (mousedown)="mousedown(d)" (mouseup)="mouseup()" (mouseleave)="mouseup()">
                                                            <li>
                                                                <h3 style="text-align: center;">{{v.marque}} {{v.modele}}</h3>
                                                                <ul style="display:grid">
                                                                    <li *ngFor="let m of v.materiel; let k = index" style="grid-column: 2;">
                                                                        {{m.designationMateriel}} - {{m.prixReparation}} AR : 
                                                                            <button class="btn btn-warning mb-2" *ngIf="m.estReparer == false" (click)="reparer(d, v._id, m._id)" style="grid-column: 2">Réparé</button>
                                                                            <button class="btn btn-success mb-2" disabled="true" *ngIf="m.estReparer == true" style="grid-column: 2">OK</button>                                                                          
                                                                        </li>
                                                                    <small style="grid-column: 2;">Progression: 
                                                                        <div class="progress">
                                                                            <div class="progress-bar" role="progressbar" style="width: {{getProgression(v.materiel)}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{getProgression(v.materiel)}}%</div>
                                                                        </div>
                                                                    </small>
                                                                </ul>
                                                            </li>                                                    
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="dataResultUser.length == 0">
                                                <h1>Aucune voiture dans l'atelier</h1>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <h3 class="text-dark mb-1">Liste voiture terminée</h3>
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="panel panel-default" droppable (onDrop)="onItemDrop($event)">
                                        <div class="panel-heading">Liste voiture terminée</div>   
                                        <div class="panel-body"  *ngFor="let item of dataResultVoitureTerminer">
                                            <ul *ngFor="let v of item.voiture">
                                                <li class="list-group-item" *ngIf="v.estTerminer == true">{{v.immatriculation}}: {{v.marque}} {{v.modele}} 
                                                <button class="btn btn-primary btn-block btn-sm"
                                                    data-toggle="modal"
                                                    data-target="#modalEmail" (click)="getVoitureEmail(v.marque, v.modele, v.immatriculation);initFormEmail(item)"> Envoyer email
                                                </button>
                                                <button class="btn btn-success btn-block btn-sm"
                                                    data-toggle="modal"
                                                    data-target="#modalBonDeSortie" (click)="initForm(item); voitureInitForm(v)">
                                                    Bon de sortie
                                                </button>
                                                </li>
                                            </ul>
                                            
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal email-->
<div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="modalEmailLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" id="updateCloseModal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center mb-4">
                    <h2>Envoyer email</h2>
                </div>
                <div class="d-flex flex-column text-center">
                    <form [formGroup]="emailForm" (ngSubmit)="envoyerEmail()">
                        <div class="form-group">
                            <h4 style="position:relative; float: left;" > Destinataire: </h4>{{this.emailForm.value.nom}} {{this.emailForm.value.prenom}}
                            <input
                                [ngClass]="{'is-valid': c.email.valid, 'is-invalid': c.email.invalid && (c.email.dirty || c.email.touched)}"
                                type="text" formControlName="email" class="form-control" placeholder="email">
                            <div class="invalid-feedback">
                                Veuillez remplir le Destinataire.
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 style="position:relative; float: left;" > Objet: </h4>
                            <input
                                [ngClass]="{'is-valid': c.objet.valid, 'is-invalid': c.objet.invalid && (c.objet.dirty || c.objet.touched)}"
                                type="text" formControlName="objet" class="form-control" placeholder="Objet">
                            <div class="invalid-feedback">
                                Veuillez remplir l' objet.
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 style="position:relative; float: left;" > Message: </h4>
                            <textarea rows="3"
                                [ngClass]="{'is-valid': c.body.valid, 'is-invalid': c.body.invalid && (c.body.dirty || c.body.touched)}"
                                type="text" formControlName="body" class="form-control" placeholder="email Body">
                            </textarea>
                            <div class="invalid-feedback">
                                Veuillez remplir le contenue.
                            </div>
                        </div>
            
                        <div class="d-grid gap-2">
                            <button [disabled]="!emailForm.valid || loader" type="submit" class="btn btn-primary">
                                <i *ngIf="load" style="margin-left: -12px; margin-right: 8px;"
                                    class="fa fa-circle-o-notch fa-spin"></i>
                                <ng-container *ngIf="!load"> Envoyer email</ng-container>
                                <ng-container *ngIf="load"> Envoye en cours</ng-container>

                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal bon de sorite-->
<div class="modal fade bd-example-modal-lg" id="modalBonDeSortie" tabindex="-1" role="dialog" aria-labelledby="modalBonDeSortieLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="contenue">
            <div class="modal-header border-bottom-0">
                <button type="button" id="updateCloseModal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center mb-4">
                    <h2>Bon de sortie</h2>
                </div>
                <hr>

                <div class="col">
                    <p>M1 P10 Mean <br>
                    Antananarivo<br>
                    MADAGASCAR<br>
                    +261 33 85 270 76<br></p>
                </div>
                <div class="container-fluid">
                    <div class="d-flex justify-content-around">
                        <div class="col-md-6">
                            <div class="card shadow">
                                <div class="card-body">
                                    <table style="border: none;">
                                        <thead>
                                            <th>
                                                <tr></tr>
                                                <tr></tr>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Bon de sorite N:</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>Date:</td>
                                                <td>2023/01/01</td>
                                            </tr>
                                            <tr>
                                                <td>Lieu:</td>
                                                <td>Antananarivo</td>
                                            </tr>
                                            <tr>
                                                <td>Contact client:</td>
                                                <td>{{this.userForm.value.phone}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h5>Destinataire</h5>
                                    <p>{{this.userForm.value.nom}} {{this.userForm.value.prenom}}<br>
                                        {{this.userForm.value.email}}<br>
                                        {{this.userForm.value.phone}}<br>
                                    </p>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <h4>Informations:</h4>
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Materiel</th>
                                    <th scope="col">Prix réparation</th>
                                  </tr>
                                </thead>
                                <tbody *ngFor="let m of this.voitureForm.value.materiel; let i = index">
                                  <tr>
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{m.designationMateriel}}</td>
                                    <td>{{m.prixReparation}} Ar</td>
                                  </tr>                               
                                </tbody>
                              </table>
                        </div>    
                        <p>Total:{{prixFinalTemp}} Ar</p>
                    </div>                            
                </div>
                        
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" (click)="validerBonDeSortie(this.userForm.value,this.voitureForm.value._id)" *ngIf="this.voitureForm.value.bonDeSortie == false">Valider</button>
                <button class="btn btn-primary" type="button" id="gerarPDF">Exporter en PDF</button>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>