<div class="bg">
    <header>
        <div class="main wrap">
            <h1><a><img src="assets/img/logo.png" alt=""></a></h1>
            <p>Antananarivo 101 <span>MADAGASCAR</span></p>
        </div>
        <nav>
            <ul class="menu">
                <li class="current"><a href="index.html" class="home"><img src="images/home.jpg" alt=""></a></li>
                <li><a>About</a></li>
                <li><a>Maintenance</a></li>
                <li><a (click)="toTepare()">Repair</a></li>
                <li style="float: right;"><a class="dropdown-item" role="presentation" (click)="lougout()"><i
                            class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Se deconnecter</a></li>
            </ul>
            <div class="clear"></div>
        </nav>
    </header>
    <div id="slider">
        <div class="slider-block">
            <div class="slider">
                <ul class="items">
                    <li><img src="assets/img/slide-1.jpg" alt="">
                        <div class="banner">
                            <div><span>Ford</span><strong>Сiriure dolor nhendrerit</strong>
                                <p>Nam liber tempor cum soluta nobis eleifenoption congue nigfif аil imperdiet doming id
                                    quod mazim placerat facer. Lorjem ipsum dolor sit amet, consecer adipiscing elit.
                                </p>
                                <a href="#" class="button">Read More</a>
                            </div>
                        </div>
                    </li>
                    <li><img src="assets/img/slide-2.jpg" alt="">
                        <div class="banner">
                            <div><span>Maserati GT</span><strong>Vulputate velit esse</strong>
                                <p>sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                    volutpat. Ut
                                    wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.
                                </p>
                                <a href="#" class="button">Read More</a>
                            </div>
                        </div>
                    </li>
                    <li><img src="assets/img/slide-3.jpg" alt="">
                        <div class="banner">
                            <div><span>Honda HSC</span><strong>Molestie consequat vel</strong>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                                    no
                                    sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</p>
                                <a href="#" class="button">Read More</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="#" class="prev"></a> <a href="#" class="next"></a>
        </div>
    </div>
</div>




<!-- ________________________Latest Cars Image Thumbnail________________-->
<div class="grid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="txthover">
                <img src="assets/img/revision.jpg" alt="car1">
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Révision</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur,<br>
                            sed do eiusmod tempor incididunt" </p>
                        <h4 class="price"> 1000&euro;</h4>
                        <button>READ MORE</button><br>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
            <div class="txthover">
                <img src="assets/img/moteur.jpg" alt="car2">
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Moteur</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur,<br>
                            sed do eiusmod tempor incididunt" </p>
                        <h4 class="price">900 &euro;</h4>
                        <button>READ MORE</button><br>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="txthover">
                <img src="assets/img/pneu.jpg" alt="car3">
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Frein</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur,<br>
                            sed do eiusmod tempor incididunt" </p>
                        <h4 class="price">3000 &euro;</h4>
                        <button>READ MORE</button><br>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="txthover">
                <img src="assets/img/pneu.jpg" alt="car4">
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Pneu</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur,<br>
                            sed do eiusmod tempor incididunt" </p>
                        <h4 class="price">1000 &euro;</h4>
                        <button>READ MORE</button><br>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="txthover">
                <img src="assets/img/climatisation.jpg" alt="car5">
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Climatisation</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur,<br>
                            sed do eiusmod tempor incididunt" </p>
                        <h4 class="price">1200 &euro;</h4>
                        <button>READ MORE</button><br>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="txthover">
                <img src="assets/img/amortisseur.jpg" alt="car6">
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Amortisseur</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur,<br>
                            sed do eiusmod tempor incididunt" </p>
                        <h4 class="price">4000 &euro;</h4>
                        <button>READ MORE</button><br>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="txthover">
                <img src="assets/img/embrayage.jpg" alt="car7">
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Embrayage</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur,<br>
                            sed do eiusmod tempor incididunt" </p>
                        <h4 class="price">3000 &euro;</h4>
                        <button>READ MORE</button><br>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="txthover">
                <img src="assets/img/C.jpg" alt="car8">
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Transmission</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur,<br>
                            sed do eiusmod tempor incididunt" </p>
                        <h4 class="price">2500 &euro;</h4>
                        <button>READ MORE</button><br>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ______________________________________________________Bottom Menu ______________________________-->
<div class="bottommenu">
    <div class="bottomlogo">
        <span class="dotlogo">&bullet;</span><img src="assets/img/autog.jpg" alt="logo1"><span
            class="dotlogo">&bullet;;</span>
    </div>
    <ul class="nav nav-tabs bottomlinks">
        <li role="presentation"><a href="#/" role="button">ABOUT US</a></li>
        <li role="presentation"><a href="#/">CATEGORIES</a></li>
        <li role="presentation"><a href="#/">PREORDERS</a></li>
        <li role="presentation"><a href="#/">CONTACT US</a></li>

    </ul>
    <p>"Lorem ipsum dolor sit amet, consectetur, sed do eiusmod tempor incididunt <br>
        eiusmod tempor incididunt </p>
    <img src="assets/img/line.png" alt="line"> <br>
    <div class="bottomsocial">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
    </div>
    <div class="footer">
        <div class="copyright">
            &copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
        </div>
        <div class="atisda">
            Designed by <a href="http://www.webdomus.net/">Web Domus Italia - Web Agency </a>
        </div>
        <div class="atisda">
            Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon </a>
        </div>
    </div>
</div>