<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-info p-0"
  [ngClass]="{'toggled': minify}">
  <div class="container-fluid d-flex flex-column p-0">
    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
      [routerLink]="['/atelier']">
      <div class="sidebar-brand-icon rotate-n-15"></div>
      <div class="sidebar-brand-text mx-3"><span>m1p10mean&nbsp;</span></div>
    </a>
    <hr class="sidebar-divider my-0">
    <ul class="nav navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item dropdown" *ngIf="user.loginType ==1">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
          <span>Atelier & Voiture</span></a>
        <div class="dropdown-menu" role="menu">
          <a class="dropdown-item" role="presentation" [routerLink]="['/atelier']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact: true}">Liste dans l'atelier</a>
          <a class=" dropdown-item" role="presentation" [routerLink]="['/atelier/liste_voiture']"
            [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Liste voiture</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="user.loginType ==2">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
          <span>Liste paiment & stat</span></a>
        <div class="dropdown-menu" role="menu">
          <a class="dropdown-item" role="presentation" [routerLink]="['/atelier']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact: true}">Liste paiement</a>
          <a class=" dropdown-item" role="presentation" [routerLink]="['/atelier/liste_voiture']"
            [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">stat</a>
        </div>
      </li>
    </ul>
    <div class="text-center d-none d-md-inline">
      <button class="btn rounded-circle border-0" id="sidebarToggle" (click)="minify= !minify" type="button"
        style="margin-top: 400px;"></button>
    </div>
  </div>
</nav>
<a class="border rounded d-inline scroll-to-top" href="#page-top" style="z-index: 2"><i class="fas fa-angle-up"></i></a>